body{
    margin:0;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#0b1120;
    font-family:Arial, sans-serif;
}


.chat{
    width:400px;
    height:550px;
    background:#111827;
    border-radius:25px;
    padding:20px;
    box-shadow:0 0 30px black;
}


h2{
    text-align:center;
    color:white;
}


#messages{
    height:400px;
    overflow-y:auto;
    background:#020617;
    padding:15px;
    border-radius:20px;
}


.bot,.user{
    padding:12px;
    margin:12px 0;
    border-radius:18px;
    animation:show 0.3s;
}


.bot{
    background:#334155;
    color:white;
}


.user{
    background:#2563eb;
    color:white;
    margin-left:50px;
}


input{
    width:68%;
    padding:14px;
    border-radius:20px;
    border:none;
    outline:none;
}


button{
    padding:14px;
    border-radius:20px;
    border:none;
    background:#22c55e;
    color:white;
    cursor:pointer;
}


button:hover{
    transform:scale(1.05);
}


@keyframes show{
    from{
        opacity:0;
        transform:translateY(10px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }
}


@media(max-width:500px){

.chat{
    width:90%;
}

}
